--extra-index-url https://download.pytorch.org/whl/cu113
torch
pip install git+https://github.com/huggingface/diffusers.git
pip install git+https://github.com/huggingface/transformers.git
scipy
ftfy
accelerate
psutil